<html>
<head>
   <meta charset="UTF-8" />
    <title>EJS Example</title>
</head>
<body>
    <h1><%= info.id %></h1>
    <h1><%= info.title %></h1>
    <h1><%= info.sinnger %></h1>
    <h1><%= info.year %></h1>
    <ul>
    
    </ul>
    <input type="button" value="수정" onclick="location.href='../muzic/<%= info.id %>'">
</body>
</html>